<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product page</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header class="main_header">
        <nav class="main_header_nav">
           <ul class="main_header_itemlist">
            <li class="main_header_item"><a class="active" href="/shop">shop</a></li>
            <li class="main_header_item"> <a href="/admin/add-products">add product</a></li>
            <li class="main_header_item"><a href="/contact">Contact Us</a></li>
           </ul>
        </nav>
    </header>
    <main>
        <form class="product-form"action="/admin/add-products" method="POST">
            <div>
                <label for="title">Title</label>
                <input class="form-control" type="text"id="title" name="title">
            </div>
            <button name="submit">Add product</button>
        </form>
    </main>
    
</body>
</html>