<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main_header">
        <nav class="main_header_nav">
           <ul class="main_header_itemlist">
            <li class="main_header_item"><a href="/shop">shop</a></li>
            <li class="main_header_item"> <a href="/admin/add-products">add product</a></li>
            <li class="main_header_item"><a href="/contact">Contact Us</a></li>
           </ul>
        </nav>
    </header>
    <h1>Page Not Found</h1>
    <div>
        <h2>404 Error</h2>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAo9AgwagIMXviJe4LCE3VSAmWCzX6khGrnQ&usqp=CAU" alt="error img" width="500" height="600">
         
    </div>
</body>
</html>