body {
    background-image:#dfd8d8;
  }
.container{
  border :2px solid deepskyblue;
   
  text-align: center;
  margin: auto;
  padding: 50px 50px 50px 50px; 
   
}
.all{
  border :2px solid deepskyblue;
   
  text-align: left;
  margin: auto;
  padding: 50px 50px 50px 50px; 
}
.items{
  border: 1px groove ;
  margin: auto;
  text-align:center;
  padding:10px 10px 10px 10px;
  color: darkorange;
}
input{
  margin: 10px;
  padding: 10px;
  align-items: center;
  border-color: orange;
  text-decoration: blueviolet;
}
h2,label{
  color: deepskyblue;
}
button{
  width:150px;
  background-color: deepskyblue;
  height: 30px;
}
select{
  margin: 10px;
  width:150px;
  background-color: yellow;
  color:blueviolet
  
}

/* #signup{
  margin: auto;
  text-align: center;
} */